absl-py 
aiohttp 
alabaster==0.7.12
argh==0.26.2
argon2-cffi 
astroid==2.3.3
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall==0.2.0
bcrypt 
bleach 
blinker==1.4
brotlipy==0.7.0
cachetools 
certifi==2020.12.5
cffi 
chardet 
click==7.1.2
cloudpickle 
colorama 
cryptography 
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch 
docutils==0.16
entrypoints==0.3
flake8 
Flask==1.1.2
future==0.18.2
gast 
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
grpcio 
h5py==2.10.0
idna 
imagesize==1.2.0
importlib-metadata 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort==4.3.21
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
jsonschema 
jupyter==1.0.0
jupyter-client
jupyter-console 
jupyter-core 
jupyterlab-pygments
Keras-Applications 
Keras-Preprocessing==1.1.0
keyring 
kiwisolver==1.3.1
lazy-object-proxy
Markdown 
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
numpydoc 
oauthlib==3.1.0
opt-einsum==3.1.0
packaging 
pandas==1.1.5
pandocfilters 
paramiko 
parso==0.7.0
pathtools==0.1.2
pexpect 
pickleshare 
Pillow==8.0.1
pluggy==0.13.1
prometheus-client 
prompt-toolkit 
protobuf==3.13.0
psutil 
ptyprocess 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser 
pydocstyle 
pyflakes==2.2.0
Pygments 
PyJWT==1.7.1
pylint==2.4.4
PyNaCl 
pyOpenSSL 
pyparsing==2.4.7
pyreadline==2.1
pyrsistent 
PySocks 
python-dateutil==2.8.1
python-jsonrpc-server 
python-language-server 
pytz 
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome 
qtconsole
QtPy==1.9.0
requests 
requests-oauthlib==1.3.0
rope 
rsa 
Rtree==0.9.4
scipy
seaborn==0.11.1
Send2Trash 
sip==4.19.13
six 
snowballstemmer==2.0.0
sortedcontainers 
Sphinx 
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder 
spyder-kernels 
tensorboard 
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.0
tensorflow-estimator 
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
toml 
tornado 
traitlets 
typing-extensions 
ujson
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton 
wincertstore==0.2
wrapt==1.12.1
yapf 
yarl 
zipp 
